<mat-toolbar color="primary">
  Quikk Money Transfer

  <ng-container *ngIf="loginAndRegistrationService.currentUser$ | async as user">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<body>
  <router-outlet></router-outlet>
</body>
<footer>
  
</footer>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    logout
  </button>
</mat-menu>
